
<div class="grid wide" style="margin-bottom: 70px;">
    <img style="margin:0 350px" width="40%" src="/img/done.jpg" alt="">
    <p style="font-size: 2rem;">Đơn hàng đã được đặt, chúng tôi sẽ sớm liên hệ với bạn. Mọi thắc mắc vui lòng liên hệ qua Hotline: 1900-xxxx
    <a href="/">Trở lại trang chủ</a>
</p>
</div>