
<div class="grid wide" style="margin-bottom: 70px;">
    <img src="/img/pngtree-out-of-stock-symbol-rectangular-sign-vector-png-image_15673910.png" alt="">
    <p style="font-size: 1.5rem;">Sản phẩm tạm hết hàng, nếu bạn muốn đặt số lượng lớn vui lòng liên hệ qua Hotline: 1900-xxxx
    <a href="/">Trở lại trang chủ</a>
</p>
</div>