<div class="footer d-flex align-items-center justify-content-center" style="height: 200px; background-color: rgb(191, 191, 191);">
    Copyright <i style="margin: 0 2px;" class="fa fa-copyright" aria-hidden="true"></i>
    <span class="ms-2"> 2024 CLB Coder - TinKun</span>
</div>
