<div class="footer" style="border-top: 1px solid rgb(109, 109, 109); background-color:rgb(230, 230, 230)">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-3 m-4 c-6">
                        <h3 class="footer__heading">Tổng đài hỗ trợ miễn phí</h3>
                        <ul class="footer__list">
                            <li class="footer__item">Gọi mua hàng 1800.2097 (7h30 - 22h00)</li>
                            <li class="footer__item">Gọi khiếu nại 1800.2063 (8h00 - 21h30)</li>
                            <li class="footer__item">Gọi bảo hành 1800.2064 (8h00 - 21h00)</li>
                        </ul>
                    </div>
                    <div class="col l-3 m-4 c-6">
                        <h3 class="footer__heading">Thông tin và chính sách</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="" class="footer__item-link">Mua hàng và thanh toán Online</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__item-link">Mua hàng trả góp Online</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__item-link">Chính sách giao hàng</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__item-link">Tra điểm Smember</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col l-3 m-4 c-6">
                        <h3 class="footer__heading">Dịch vụ và thông tin khác</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="" class="footer__item-link">Khách hàng doanh nghiệp (B2B)</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__item-link">Ưu đãi thanh toán</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__item-link">Quy chế hoạt động</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__item-link">Chính sách Bảo hành</a>
                            </li>
                        </ul>
                    </div>
                    {{!-- <div class="col l-3 m-4 c-6">
                        <h3 class="footer__heading">Website thành viên</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <span class="footer__item-content">Hệ thống bảo hành sửa chữa Điện thoại - Máy tính</span>
                                <a href="" class="footer__item-link">
                                    <img src="https://cdn2.cellphones.com.vn/x30,webp/media/logo/corp-members/dienthoaivui.png" alt="" class="footer__item-img">
                                </a>
                            </li>
                            <li class="footer__item">
                                <span class="footer__item-content">Hệ thống bảo hành sửa chữa Điện thoại - Máy tính</span>
                                <a href="" class="footer__item-link">
                                    <img src="https://cdn2.cellphones.com.vn/x30,webp/media/logo/corp-members/dienthoaivui.png" alt="" class="footer__item-img">
                                </a>
                            </li>
                            <li class="footer__item">
                                <span class="footer__item-content">Hệ thống bảo hành sửa chữa Điện thoại - Máy tính</span>
                                <a href="" class="footer__item-link">
                                    <img src="https://cdn2.cellphones.com.vn/x30,webp/media/logo/corp-members/dienthoaivui.png" alt="" class="footer__item-img">
                                </a>
                            </li>
                            
                        </ul>
                    </div> --}}
                </div>
            </div>
        </div>